.app {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 8px;
}
.image-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.image-overlay:hover {
  opacity: 1;
}

.image-overlay {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
}
.remove-icon {
  max-width: 65px;
  max-height: 65px;
  border-radius: 50%;
}
.label {
  align-self: flex-end;
  border: 1px solid #kkk;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 50px 30px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.label img {
  width: 20px;
}
.label:hover {
  background: rgba(0, 0, 0, 0.1);
}

#file-upload {
  display: none;
}
